.game {
  background-image: url("/assignment_3/assests/board.png");
  width: 507px;
  height: 524px; /*the height and the weight are the same as the img dimensions */
  background-size: 100%;
  margin-left: 35%;
  margin-top: 10%;
}
.location {
  display: inline-block;
  width: 166px;
  height: 170px;
  background-color: blue;
}

.game div.location + div.location{
  
}

.game div.location + div.location + div.location{
  background-color: blue;
}