img{

  height: 170;
  width: 170;

}

.game {
  background-image: url("/assignment_3/assests/board.png");
  width: 515px;
  height: 524px; /*the height and the weight are the same as the img dimensions */
  background-size: 100%;
  margin-left: 35%;
  margin-top: 10%;
}
.location {
  display: inline-block;
  width: 168px;
  height: 171px;
  position: relative;
  left: 3px;
  top: 3px;
  margin-bottom: 3px;
}
.afterImg{

  bottom: 5px;
  
}
.afterImgrow2{
  top: 8px;
}
.afterImgrow3{
  top: 13px;
}
.game div.location + div.location{
  left: 5px;
}

.row2{

  height: 183px;
  
}

.row3{
  height: 153px;
}

.result{
  text-align: center;
}